﻿@section Scripts{
    @Scripts.Render("~/Scripts/Skripta.js")
    }

<div class="row">
    <div class="col-sm-4" style="display:none" id="registracijaP">
        <form method="post" action="post/" id="registracija">
            <h3>Registracija</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Potvrdi Lozinku</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm">Registracija</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <form method="post" action="post/" id="prijava">
            <h3>Prijava</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button type="submit" class="btnPrijava">Prijava</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm" id="bReg">Registracija</button>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4" id="odjava">
        <button class="btn btn-sm" id="odjavise">Odjava</button>
    </div>
</div>

<p id="info"></p>

<div class="row festival">
    <hr />
    <br />
    <button type="button" id="festivali" style="display:none">Festivali</button>
    <div id="data"></div>
    <br />
    <div id="formDiv" style="display:none" class="d-flex justify-content-between">
        <form method="post" action="post/" id="festivalForm">
            <p><label>Naziv: <input id="festivalNaziv" class="form-control"></label></p>
            <p><label>Cena: <input id="festivalCena_karte" type="number" class="form-control"></label></p>
            <p><label>Godina odrzavanja: <input id="festivalGodina_odrzavanja" type="number" class="form-control"></label></p>
            <p><label>Mesto: <input id="festivalMesto" class="form-control"/></label></p>
            <br />
            <p><button class='btn btn-sm'>Submit</button></p>
        </form>
    </div>
</div>
